@model Node.Core.Models.Block

@{
    ViewBag.Title = "Block details";
    Layout = "_Layout";
}

<h2>Blok details: @Model.Index</h2>
<div class="row">
    <table class="table table-striped">
        <tbody>

        <tr>
            <td>Index</td>
            <td><a asp-controller="Block" asp-action="Details" asp-route-id="@(Model.Index-1)" class="btn btn-info btn-xs">Previous</a> @Model.Index  <a asp-controller="Block" asp-action="Details" asp-route-id="@(Model.Index + 1)" class="btn btn-info btn-xs">Next</a></td>
        </tr>
        <tr>
            <td>Transactions</td>
            <td><a asp-area="" asp-controller="Block" asp-action="Transactions" asp-route-id="@Model.Index">@Model.Transactions.Count Transactions</a></td>
        </tr>
        <tr>
            <td>Difficulty</td>
            <td>@Model.Difficulty</td>
        </tr>
        <tr>
            <td>PreviousBlockHash</td>
            <td>@Model.PreviousBlockHash</td>
        </tr>
        <tr>
            <td>MinedBy</td>
            <td><a asp-area="" asp-controller="Address" asp-action="Information" asp-route-id="@Model.MinedBy">@Model.MinedBy</a></td>
        </tr>
        <tr>
            <td>Nonce</td>
            <td>@Model.Nonce</td>
        </tr>
        <tr>
            <td>CreatedOn</td>
            <td>@Model.CreatedOn</td>
        </tr>
        <tr>
            <td>Hash</td>
            <td>@Model.Hash</td>
        </tr>
        </tbody>
    </table>
</div>