@using Node.Core.Models
@model  IEnumerable<Block>
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Index</th>
        <th>CreatedOn</th>
        <th>Hash</th>
    </tr>
    </thead>
    <tbody>
    @{
        foreach (var block in (Model))
        {
        <tr>
            <td>@block.CreatedOn</td>
            <td>@block.Index</td>
            <td>@block.Hash</td>
        </tr>
        }
    }
    </tbody>
</table>