@model IEnumerable<Node.Core.Models.PendingTransaction>

@{
    ViewBag.Title = "Pending transactions";
    Layout = "_Layout";
}

<h2>Pending Transactons</h2>
<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Hash</th>
                <th>From</th>
                <th>To</th>
                <th>Ammount</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var transaction in Model)
                {
            <tr>
                <td><a asp-area="" asp-controller="Transaction" asp-action="Details" asp-route-id="@transaction.Hash">@transaction.Hash</a></td>
                <td><a asp-area="" asp-controller="Address" asp-action="Information" asp-route-id="@transaction.From">@transaction.From</a></td>
                <td><a asp-area="" asp-controller="Address" asp-action="Information" asp-route-id="@transaction.To">@transaction.To</a></td>
                <td>@transaction.Amount</td>
            </tr>
                }
            }
        </tbody>
    </table>
</div>